<nav class="navbar myheader fixed-top">
    
  <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed text-cerrar-sesion" 
      data-toggle="collapse" data-target="#submenu-seguimiento" aria-expanded="false" style="margin-top: 10px;">
          <span class="sr-only">Interruptor de Navegación</span>
          <span class="icon-bar" style="border-bottom: 2px solid white;"></span>
          <span class="icon-bar" style="border-bottom: 2px solid white;"></span>
          <span class="icon-bar" style="border-bottom: 2px solid white;"></span>
      </button>
      <span class="navbar-brand">                      
          <span class="text-titulo ttl1">Plataforma Seguimiento de Transferencia</span>
          <span class="text-titulo ttl2">Plataforma Seguimiento <br> de Transferencia</span>                
      </span>
  </div>
  <div class="collapse navbar-collapse myheader" id="submenu-seguimiento">
      <ul class="nav navbar-nav navbar-center estado-busq" *ngIf="mostrarDropdownMesa">
          <li>
              <app-mesa-entrega-dropdown></app-mesa-entrega-dropdown>
          </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li>
              <a class="link">
                  <div class="flex-container right-split">
                      <div>
                          <img class="myicon" src="assets/images/icono-user.png" alt="Icono User">                              
                      </div>
                      <div class="cont-text ">
                         <span class="text-nombre-usuario br">
                        </span>
                        {{usuarioSesion.nombrePersonal}}
                          <span class="text-admin br">
                              {{usuarioSesion.perfil}}
                          </span>
                      </div>
                      <!-- <div class="right-split"></div> -->
                  </div>
              </a>
          </li>
          <li>
              <a (click)="salir()" class="link">
                  <img class="myicon" src="assets/images/icono-salir.png" alt="Icono Salir">
                  <span class="text-cerrar-sesion br">Cerrar sesión</span>
              </a>
          </li>
      </ul>
  </div>

</nav>
