<app-subheader></app-subheader>
<div class="container">
<div class="col-md-12">
    <div class="col-sm-12">
        <h3>Selección de CLUES</h3>
        <hr class="red">
    </div>

    <div class="row">
        <div class="col-sm-12" style="margin-top: -40px;">
            <div class="col-sm-12">
                <label for="">Entidades</label>
                <select name="" id="" class="form-control" [(ngModel)]="entidad" (change)="llenarComboCles()">
                    <option [value]="0">Seleccionar</option>
    
                    <option *ngFor="let entidad of listaEntidades" 
                    [value]="entidad.idEntidad" name="entidad">
                    {{entidad.descripcion}}</option>
                </select>
            </div>
            <div class="col-sm-12" style="margin-top: 15px;">
                <label for="">CLUES</label>
                <select name="" id="" [(ngModel)]="clue" class="form-control" [disabled]="entidad == 0">
                    <option [value]="0">Seleccionar</option>
                    <option *ngFor="let clue of listaClues" 
                    [ngValue]="clue" name="clue">
                    {{clue.referencia}}</option>
                </select>
            </div>
        </div>

        <div class="col-sm-12" style="    text-align: end;">
            <br>
            <button class="btn btn-primary" style="padding: 0; width: 141px; height: 41px;margin-right: 15px;" (click)="irHome()" [disabled]="entidad == 0 || clue == 0">
                    Buscar
                </button>
        </div>
    </div>



    <div class="col-md-12" style="height: 20px;"></div>

</div>
</div>