.ventana{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 0px;
    border-radius: 10px;
}

.header{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px;
    background-color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 0.6px solid #cccccc;
}
.contHeader{
    display: flex;
    flex-direction: row;
    width: 33.3%;
}
.contHeader label{
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}
.header img{
    cursor: pointer;
    color: #696969;
}
.modal-header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: rgba(0,0,0,.0001) !important;
    color: white;
}
.body{
    background-color: #ffffff;
    overflow: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.contBtn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*background-color: hsl(0, 0%, 100%, .2) transparent;*/
    width: 4%;
    height: 477px;
    border: none;
}
.contImagen{
    width: 92%;
    padding-top: 6px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.divBtn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#9d2449;
    background-color: hsl(0, 0%, 100%, .8);
}
.divBtn:hover{
    cursor: pointer;
}
.slider-modal {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: relative;
}

.slider-modal img {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
}

.btnPrev{
    font-size: 25px;
    font-weight: 500;
}
.btnSig{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 25px;
    font-weight: 500;
}
.texto-encima{
    position: absolute;
    top: 0;
    left: 0;
    color: red;
}
.rotar{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.habilitar{
    cursor: pointer;
}
.slider-modal div{
    padding: 10px;
    position: absolute;
    bottom: 1.1px;
    left: 0;
    width: 100%;
	color:#fff;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-weight: 200;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    padding-left: 30px;
}
.deshabilitar{
    cursor:not-allowed;
    opacity: 0.2;
}
.contImgMiniaturas{
    padding-top: 3px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:10px;
    width: 100%;
    padding-bottom: 3px;
    margin-bottom: 8px;
}
.divImgMin{
    width: 88.1px;
    height: 88px;
}
.divImgMin img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    cursor: pointer;
}
.selectImg{
    opacity: 0.5;
}
::ng-deep .mat-dialog-container {
   width: 100% !important;
    min-height: 100vh !important;
    padding: 0px;
    overflow-y: auto;
}
  ::ng-deep .cdk-overlay-container {
   top: 10px !important;
  }


 /* @media only screen and (max-width: 600px) {
    ::ng-deep .mat-dialog-container {
        width: 100% !important;
        min-height: 0px !important;
        padding: 0px;
    }
  }

  @media only screen and (max-width: 1200px) {
    ::ng-deep .mat-dialog-container {
        width: 100% !important;
        min-height: 0px !important;
        padding: 0px;
    }
  }*/
  
  