<app-subheader></app-subheader>
<div class="col-sm-12">
    <div class="form-group" style="text-align: left;">
        <label>{{rubroSeleccionado.rubro}}</label>
        <hr class="red">
    </div>
</div>
<div class="col-sm-12 form-group">
    <label style="font-size: 16px; font-weight: lighter;">Ingresa la información solicitada en los siguientes campos. Es
        importante que no dejes preguntas sin contestar. Si alguna no te aplica, contesta 0 o N/A, según sea el
        caso.</label>
</div>
<div class="col-sm-12">
    <form [formGroup]="form" role="form">
        <div class="form-group col-sm-12" style="font-size: 13px;">
            <div class="row form-group">
                <label class="control-label" for="canCuadroBasico">1.- De acuerdo con el cuadro básico de medicamentos
                    del IMSS, ¿Con cuántas claves de medicamentos cuenta?:</label>
            </div>
            <div class="row form-group">
                <input type="number" formControlName="canCuadroBasico" autocomplete="off" class="form-control" (change)="guardarCuestionario()" 
                    id="canCuadroBasico" placeholder="Ingrese número de medicamentos" [min]="0" [max]="999"
                    (keypress)="keyPressOnlyNumbers($event)" />
                <div class="col-sm-12">
                    <div class="row form-group">
                        <small class="form-text form-text-error" *ngIf="form.controls['canCuadroBasico']?.touched 
                                && !form.controls['canCuadroBasico'].valid">{{mensaje.requerido}}</small>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <label class="control-label form-group">2.- Enliste los 10 medicamentos faltantes con mayor demanda en
                    la unidad médica (De acuerdo al catálogo de Medicamentos):</label>
            </div>

            <div  class="row form-group">
                <div class="checkbox">
                    <label>
                      <input type="checkbox" id="noAplica" formControlName="noAplica" (change)="guardarCuestionario()"    >
                      No aplica
                    </label>
                  </div>
            </div>
            
            <div *ngIf="medicamentos">
                <app-cuestionario-estatico-autocomplete-list [tipo]="tipoAutocomplete.MEDICAMENTOS"
                    (medicamentosList)="medicamentosList($event)" [limite]="10" [btnBloquearBusqueda]="form.get('noAplica').value"  
                    [medicamentosPrevios]="medicamentos?.listaMedicamento">
                </app-cuestionario-estatico-autocomplete-list>
            </div>
            <div *ngIf="!medicamentos">
                <app-cuestionario-estatico-autocomplete-list [tipo]="tipoAutocomplete.MEDICAMENTOS" [limite]="10"
                    (medicamentosList)="medicamentosList($event)" [btnBloquearBusqueda]="form.get('noAplica').value"  >
                </app-cuestionario-estatico-autocomplete-list>
            </div>
        </div>
    </form>
</div>
<div class="col-sm-12 form-group" style="margin: 2%">
    <div class="form-group text-right" style="margin: 2%;">
        <button type="button" class="btn btn-danger" style="font-size: 13px;" [routerLink]="['/', navegacion.home]">Ir a
            las áreas</button>
        <button *ngIf="!form.get('noAplica').value" id="guardar" name="guardar" type="button"
            [disabled]="form?.invalid || indCuestionarioCerrado || (listaMedicamentos?.length < 10)"
            class="btn btn-primary" style="margin-left: 20px; font-size: 13px;"
            (click)="cerrarCuestionario()">Guardar</button>

        <button *ngIf="form.get('noAplica').value"  id="guardar" name="guardar" type="button"
            [disabled]="form?.invalid || indCuestionarioCerrado "
            class="btn btn-primary" style="margin-left: 20px; font-size: 13px;"
            (click)="cerrarCuestionario()">Guardar</button>
    </div>
</div>