
.modal-header{
    background-color:white;
    border-bottom: 1px solid gray ;
}

.modal-title{
    color: black !important;
    font-size: 17px;
    font-weight: 600;
}



.centrar-contenido{
    text-align: center;
}
