.padding-left-0 {
    padding-left: 0px;
}

.font-size-14 {
    font-size: 14px;
}

.margin-right-15 {
    margin-right: 15px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.colorDetalle {
    color: #B38E5D;
    font-weight: bold;
}

.card {
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: solid 1px #ccc;
    background-color: #fff;
    border-radius: .25rem;
    box-shadow: 3px 4px 5px 0 rgba(119, 119, 119, 0.15);
    margin: 0 0 40px;
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.mySlides {
    display: none
}

img {
    vertical-align: middle;
}


/* Slideshow container */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */


/* Caption text */

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}


/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

.displayNone {
    display: none;
}

.displayBlock {
    display: block;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #9D2449;
    border-color: #9D2449 transparent #9D2449 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

ngb-pagination ::ng-deep .page-item.active .page-link {
    border-color: #9D2449;
    background-color: #9D2449;
}

.MessageInfo {
    color: black;
    font-size: 16px;
    padding: 10px 14px;
    position: absolute;
    top: 90%;
    font-weight: bold;
    margin: auto;
    margin-left: 36%;
}

.imagen-grid {
    display: block;
    max-width: 100%;
    height: auto;
    box-shadow: 3px 4px 5px 0 rgb(119 119 119 / 15%);
    border-radius: 10px;
    max-height: 220px;
    image-rendering: optimizeSpeed;
}

.image-center {
    display: block;
    margin: 0 auto;
}

.scroll {
    display: block;
    width: 100%;
    height: 500px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.pagination {
    margin-bottom: 0px !important;
}

.eliminar-clues:hover {
    font-size: 14px;
}

.btn-form-usuarios{
    height: 25px !important;
    width: auto;
    padding: 0px 5px;
    font-family: Montserrat;
    font-size: 14px;
    text-align: center;
}

/* Works on Chrome, Edge, and Safari */