<table class="table w-100 tbl">
    <thead>
        <tr>
            <th class="row-1" style="vertical-align: middle;">Equipamiento</th>
            <th class="center row-1">Faltante<br>(brecha)</th>
            <th class="center row-1">Solicitado<br>IMSS B</th>
            <th class="center row-1">Mal estado</th>
            <th class="center row-1">Buen estado</th>
            <th class="center row-1">Bienes en<br>existencia</th>
            <th class="center row-1">Faltante</th>
            <th class="center row-2">Necesaria</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let remage of recMatGenDet.recursosMaterialesDetalle">
            <td class="row-1">{{ remage.desArticulo }} </td>
            <td class="center row-1">{{ remage.faltanteBrecha }}</td>
            <td class="center row-1">{{ remage.solicitadoImssB }}</td>
            <td class="center row-1">{{ remage.malEstado }}</td>
            <td class="center row-1">{{ remage.buenEstado }}</td>
            <td class="center row-1">{{ remage.bienesExistencia }}</td>
            <td class="center row-1">{{ remage.malEstadoFaltante }}</td>
            <td class="center row-2">{{ remage.necesaria }}</td>
        </tr>
    </tbody>
</table>