<div class="contenedor-titulo">
    <div style="display: flex; flex-direction: row;flex-wrap: nowrap; align-items: center; padding: 0px;">
        <span class="btn-atras" (click)="atras()">
            <img src="./assets/images/icono-flecha-red.svg">
        </span>
        <label class="texto-estado">{{ estado }}</label>
        <div class="separador"></div>
        <label class="texto-nivel">{{ descNivel | uppercase }}</label>
    </div>
    <div style="display: inline-block; margin-left: auto;" class="divFecha pull-right" *ngIf="!loadingFecha">
        <span>Inicio</span> {{ fechaPeriodo.fechaInicio }} - 
        <span>Fin</span> {{ fechaPeriodo.fechaFin }}
    </div>
    <div *ngIf="loadingFecha" style="font-size: 12px; display: flex;">
        <mat-spinner  mode="indeterminate" [diameter]="20"></mat-spinner> Cargando periodo...
    </div>
</div>
<hr class="red" style="margin-top: 0px !important; margin-bottom: 0px !important; display: block;">