<!-- <div class="col-sm-12">
    <h2>Datos generales</h2>
    <hr class="red">
</div> -->
<div class="col-sm-12 row" style="margin-bottom: 5%; margin-top: 3%;">
    <div class="col-sm-3 form-group">
        <label class="control-label">Entidad: </label>
        <div>{{usuario.entidad}}</div>
    </div>
    <div class="col-sm-3 form-group">
        <label class="control-label">Delegación: </label>
        <div>{{usuario.municipio}}</div>
    </div>
    <div class="col-sm-3 form-group">
        <label class="control-label">Municipio: </label>
        <div>{{usuario.municipio}}</div>
    </div>
    <div class="col-sm-3 form-group">
        <label class="control-label">Localidad: </label>
        <div>{{usuario.localidad}}</div>
    </div>
</div>
<div class="row col-sm-12" style="margin-bottom: 5%;">
    <div class="col-sm-3 form-group">
        <label class="control-label">Tipología: </label>
        <div>
            {{usuario.tipologia}}
        </div>
    </div>
    <div class="col-sm-3 form-group">
        <label class="control-label">Estrato unidad: </label>
        <div>
            {{usuario.estratoUnidad}}
        </div>
    </div>
    <div class="col-sm-3 form-group">
        <label class="control-label">Tipo del establecimiento: </label>
        <div>
            {{usuario.tipoEstablecimiento}}
        </div>
    </div>
    <div class="col-sm-3 form-group">
        <label class="control-label">Clave CLUES: </label>
        <div>
            {{usuario.refClues}}
        </div>
    </div>
</div>
<div class="row col-sm-12">
    <div class="col-sm-3 form-group">
        <label class="control-label">Fecha (Inicio de captura de cuestionario):</label>
        <div>
            {{usuario.fechaInicial}}
        </div>
    </div>
    <div class="col-sm-3 form-group">
        <label class="control-label">Fecha de construcción:</label>
        <div>
            {{usuario.fechaConstruccion}}
        </div>
    </div>
</div>
<!-- <div class="row col-sm-12 row">
    <div class="col-sm-3 form-group">
        <label class="control-label">Clave CLUES: </label>
        <div>
            {{usuario.refClues}}
        </div>
    </div>
</div> -->