.form-filtro{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 30px;
    padding: 0px;
}
label{
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #323433;
}
.input-fecha{
    padding: 7px;
    border: none;
    border-radius: 0px; 
    height: 34px; 
    box-shadow: initial;
    font-size: 14px;
    color: #7f7f7f;
}
.icono-calendario{
    width: 30px;
    height: 30px;
    object-fit: fill;
}

.custom-select {
    font-size: 14px;
    line-height: normal;
    width: 190px;
    outline: none;
    border: solid 1px #ccc;
    height: 35px;
  }
  .custom-select option{
    color: #7f7f7f;
  }
 
  
  .custom-select.is-invalid {
    border: 1.5px solid red;
  }
  
  .select-selected {
    background-color: #fff;
    border-radius: 4px;
    padding: 5px 32px 5px 10px !important;
    color: #7f7f7f;
    appearance: none;       /* Remove default arrow */
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('/assets/images/flecha_combo.svg');
    background-repeat: no-repeat;
    background-position: right 10px center;
  }

  .contBotones{
    display: flex; 
    flex-direction: row; 
    align-items: flex-end;
    gap: 25px;
    padding: 0px;
}
.boton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 34px;
    width: 120px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}
.btn-default{
    border: 1px solid #6F7271;
}
.btn-primary{
    border: 1px solid #9D2449;
}

.text-small{
    font-size: 10px;
    color: red;
    font-weight: bold;
}
.disabled {
    background-color: #eeeeee;
    
}
.border-rojo{
    border-color: red;
}
::ng-deep .mat-calendar-body-selected {
    background-color: #9d2449;
    color: #fff;
}