
.cardServicios{
    width: 49%;
}

.fila-1{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.fila-2{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.contenedor{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 10px 10px 10px;
    border-radius: 6px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.08);
    border: solid 1px #eee;
    background-color: #fff;
}
/*.divIcon{
    display: flex;
    min-height: 88px;
    flex-direction: column;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top: 1px solid#eee;
    border-left: 1px solid#eee;
    border-bottom: 1px solid#eee;
}*/
.divIcon{
    display: flex;
    min-height: 88px;
    padding: 0px 16px 0px 0px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  
}
.divIcon img{
    position: relative;
    object-fit: contain;
    width: 100%;
    min-height: 88px;
   
}
.divTexto{
    display: flex;
    min-height: 88px;
    flex-direction: row;
    align-items: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.cont{
    display: flex;
    flex-direction: column;
    min-height: 88px;
 
}
.cont>span{
    width: 100%;
    text-align: center;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    margin: 0 0 5px;
}
.cont>.titulo1{
    margin-top: 5px;
    font-size: 14px;
    font-weight: 500;
    color: #666;
}
.cont>.titulo2{
    font-size: 22px;
    font-weight: 600;
}
.azul{
    color: #0c7486;
}
.negro{
    color: #222;
}
.cont>.titulo3{
    font-size: 14px;
    font-weight: 600;
    color: #0c7486;
}
.separador{
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.linea{
    width: 1px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.2);
}
.card-chica{
    width: 49%;
}


.card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 8px;
    border: 1px solid #eee;
    background-color: #f5f5f5;
}
.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 45px;
    border-bottom: solid 1px #eee;
}
.card-header img {
    position: relative;
    object-fit: none;
    width: 208px;
    left: -5px;
}

.card-body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.total{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
}
.numero{
    font-size: 22px;
    font-weight: 600;
    padding-left: 6px;
    padding-right: 15px;
    color: #404041;
}
.card-body{
    display: flex;
    flex-direction: column;
    background-color: #fff;
}
.card-footer{
    height: 45px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

@media only screen and (max-width: 600px){
    .cardServicios{
        width: 100%;
    }
}

@media only screen and (max-width: 768px){
    .cardServicios{
        width: 100%;
    }
}
@media only screen and (max-width: 992px){
    .cardServicios{
        width: 100%;
    }
}